<?xml version="1.0"?>
<DTSConfiguration>
	<Configuration ConfiguredType="Property" Path="\Package.Connections[ExperianCoffeeDbConnectionManager].Properties[ConnectionString]" ValueType="String">
		<ConfiguredValue>Data Source=localhost;Initial Catalog=ExperianCoffee;Provider=SQLNCLI11.1;Integrated Security=SSPI;Auto Translate=False;</ConfiguredValue>
	</Configuration>
	<Configuration ConfiguredType="Property" Path="\Package.Variables[User::FilePath].Properties[Value]" ValueType="String">
		<ConfiguredValue><!-- Reference the source data file path -->\SourceData\*.csv</ConfiguredValue>
	</Configuration>
</DTSConfiguration>